
<br>
<br>
<br>
<br><br>
<div class="card col-md-4 mx-auto">
  <div class="card-header text-center">
    <h2>Add Guitar</h2>
  </div>
  <div class="card-body">
	<%= render 'form', guitar: @guitar %>

	<%= link_to 'Back', guitars_path %>
  </div>
</div>




